<form>
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="text" #userName>
    <button (click)="userForm(userName.value)">Create user</button>
  </div>
</form>

<div *ngIf="user">
  <h1>Welcome {{user.name}}!</h1>
  <h3>Create your own cache</h3>
  <div class="form-group">
    <label for="name">Cache Name</label>
    <input type="text" #cacheName>
    <br>
    <label for="description">Cache description</label>
    <input type="text" #description>
    <br>
    <label for="address">address</label>
    <input type="text" #address>
    <br>
    <button type="button" name="button" (click)="cacheForm(cacheName.value, description.value, address.value)">Create a Cache</button>
  </div>
  <h3>Or Click The Button Below To Start Finding Caches</h3>
  <button type="button" name="button" routerLink="locate-cache">Lets Go!</button>

</div>
