<form>
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="text" #name>
  </div>
  <button (click)="userForm(name.value)">Create user</button>
</form>

<div>
  <h3>Create your own cache</h3>
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="text" #name>
    <br>
    <label for="description">Cache description</label>
    <input type="text" #description>
    <br>
    <label for="address">address</label>
    <input type="text" #adress>
    <br>
    <button type="button" name="button" (click)="cacheForm(name.value, description.value, address.value)"></button>
  </div>
  <h3>Or Click The Button Below To Start Finding Caches</h3>
  <button type="button" name="button" routerLink="locate-cache">Lets Go!</button>

</div>
